## Tutorial to convert a CSV file from S3 into a pandas DataFrame

In [3]:
import boto3
import pandas as pd

def read_s3_csv(file_key, bucket_name, region_name):

    s3_client = boto3.client("s3", region_name)

    response = s3_client.get_object(Bucket=bucket_name, Key=file_key)

    status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")

    if status == 200:
        print(f"Successful S3 get_object response. Status - {status}")
        train_df = pd.read_csv(response.get("Body"))        
        return train_df

    else:
        print(f"Unsuccessful S3 get_object response. Status - {status}")

## Replace bucket name, region name, and file key for your data

In [4]:
bucket_name = "rml-project-data-us-east-1" ## bucket name
region_name = "us-east-1" ## region name
file_key = "mayankkthrgmail/large_nodeyiape/train.csv" # file key

df = read_s3_csv(file_key=file_key, bucket_name=bucket_name, region_name=region_name)
df.describe()

Successful S3 get_object response. Status - 200

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200